<div class="jumbotron">
  <h1 class="title">Job Offer</h1>
  <p class="slogan">It's an opportunity for you
  <br>
  We hope through this web you can get a new LIFE
  <br>
  You are Winner
  </p>
  <p class="lead"><a href="/jobs" class="btn btn-lg btn-danger">Join Us Now</a></p>
</div>
